@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

.bg {
    background-color: #f9f9f7;
}

li {
    list-style: none;
}

.p-y {
    padding-block: 70px ;
}

.cursor-pointer {
    cursor: pointer;
}

/* ---------- Register ---------- */

.healthy-food {
    background-color: #F9F9F7;
}

.bg-register {
    background-color: #F9F9F7;
    padding-block: 50px;
    padding-top: 60px;
}

.register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.register-container {
    text-align: center;
    width: 25%;
    border-radius: 12px;
    padding: 20px;
    background-color: white;
}

input {
    border-color: #DBDFD0 !important;
}

.btn-register {
    border: 1px solid #AD343E !important;
}

.btn-register:hover {
    background-color: #AD343E !important;
    color: white !important;
}

.form-control:focus {
    border-color: #80bdff !important;
    box-shadow: none !important;
}

@media (max-width: 1000px) {
    .register-container {
        width: 50%;
        padding: 15px;
    }
}

@media (max-width: 668px) {
    .register-container {
        width: 80%;
        padding: 15px;
    }
}

/* ---------- Otp ---------- */

.otp input {
    border: none;
    border: 1px solid #DBDFD0;
    padding: 5px;
    outline: none;
    width: 15%;
}

.otp-btn {
    width: 15%;
    border-radius: 0px !important;
}

/* ---------- Login ---------- */

/* ---------- TopBar ---------- */

.topBar {
    width: 100%;
    height: 45px;
    background-color: #474747;
    color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.social a {
    margin-inline: 2px;
    text-decoration: none;
    background-color: #5a5a5a;
}

.social a i {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-e {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
}


/* ---------- Navbar ---------- */

.logo {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem !important;
    /* line-height: 29px; */
    letter-spacing: -0.4px;
    font-style: italic; 
    font-weight: 600;
}

.navbar-nav {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.nav-link {
    font-weight: 500 !important;
    color: #2C2F24 !important;
}

.navbar-nav .nav-item .nav-link.active {
    width: 77px;
    height: 32px;
    border-radius: 34px;
    background-color: #DBDFD0;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.book-table {
    border-radius: 118px;
    border: 1px solid #2C2F24;
    border-color: #2C2F24;
    padding: 8px 20px;
    background-color: transparent;
    color: black;
    font-weight: 500;
    width: 170px;
    text-decoration: none;
}

/* ---------- Hero ---------- */

.hero {
    background-image: url(../src/assets/bg-hero.png);
    background-size: cover; 
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    max-width: 500px; 
}

.hero-title {
    font-size: 80px;
    margin-bottom: 20px;
}

.hero-info {
    font-size: 20px;
    margin-bottom: 20px;
}

.btns-hero .bt {
    height: 64px;
    width: 170px;
    border-radius: 120px;
    margin-inline: 10px;
    font-weight: 500;
}

.btns-hero  .book {
    background-color: #AD343E;
    border-color: transparent;
    color: white;
    transition: all 0.3s;
}

.btns-hero  .book:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.btns-hero .menu {
    background-color: white;
    transition: all 0.3s;
}

.btns-hero .menu:hover {
    border-color: transparent;
    background-color: #AD343E;
    color: white;
}


/* ---------- Footer ---------- */

.footer {
    background-color: #474747;
}

.text-footer-color {
    color: #ADB29E;
    width: 80%;
}

.footer-item .social a {
    background-color: #AD343E;
}

.footer-item .social a i{
    font-size: 12px;
}

.footer-list {
    color: #DBDFD0;
}

.footer-list li{
    padding: 6px 0;
}

.fw-500 {
    font-weight: 500;
}

.footer-imgs img {
    padding: 5px;
    border-radius: 12px;
}

.p-f  {
    padding: 6px 0px;
}

.but-footer .line{
    width: 100%;
    height: 2px;
    margin-top: 30px;
    background-color: #414536;
}


/* ---------- Browse Our Menu ---------- */

.browse-menu {
    padding-block: 70px;
}

.browse-menu .browse-item {
    border: 1px solid #DBDFD0;
    border-radius: 12px;
    padding: 20px;
}

.browse-item span{
    height: 70px;
    width: 70px;
    background-color: #F9F9F7;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
}

.browse-item span i {
    font-size: 30px;
}

.browse-item .category-header {
    padding-block: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #2C2F24;
}

.category-disc {
    font-size: 15px
}

.browse-btn {
    color: #AD343E;
    border: none;
    background-color: transparent;
    font-weight: 600;
    margin-block: 10px;
}


/* ---------- Fast Food ---------- */

.fast-food {
    background-color: #F9F9F7;
    padding-block: 80px;
}

.fast-food img{
    border-radius: 12px;
}

.fast-list li {
    display: flex;
}

.fast-item .fast-disc {
    padding-block: 10px;
    font-size: 14px;
}

.fast-list p {
    margin-left: 15px;
    font-weight: 500;
    color: #414536;
}

.fast-list li span {
    width: 25px;
    height: 25px;
    background-color: #AD343E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    margin-top: 1px;
}

.fast-list li span i {
    font-size: 10px;
}
@media (max-width: 740px) {
    .fimg {
        width: 200px;
        height: 300px; 
    }
    .simg,
    .timg {
        width: 200px; 
        height: 150px; 
    }
}



/* ---------- About ---------- */
/* ---------- healthy-food ---------- */

.healthy-img img {
    position: absolute;
    position: relative;
}

.bg-contact {
    background-color: #474747;
    border-radius: 12px;
    width: 330px;
    height: 270px;
    color: white;
    padding: 40px;
    position: absolute;
    bottom: -40px;
    right: 0px;
}

.contact-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.contact-ist li {
    padding-block: 8px;
    display: flex;
}

.contact-ist li i{
    padding-right: 10px;
}

.contact-ist li span {
    color: #F9F9F7;
    font-size: 14px;
}

/* ---------- Guest ---------- */
.guest {
    background-color: #F9F9F7;
}

.facts {
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: white;
    border: 1px solid #DBDFD0;
    border-radius: 8px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1200px) {
    .square {
        width: 220px;
        height: 150px;
    }
}
@media (max-width: 1000px){
    .square {
        width: 240px;
        height: 150px;
    }
}

@media (max-width: 600px) {
    .square {
        width: 200px; 
        height: 150px;
        font-size: 10px;
    }
}

/* ---------- Feedback ---------- */

.feedback-item {
    background-color: #F9F9F7;
    border-radius: 12px;
    padding: 30px;
}

.feedback-item .header {
    color: #AD343E;
    font-weight: 500;
    font-size: 24px;
}

.feedback-item .info {
    padding-bottom: 40px;
    border-bottom: 1px solid #DBDFD0 ;
}


/* ---------- Our Menu ---------- */

.fs-menu {
    font-size: 90px;
    line-height: 96px;
    font-weight: 400;
}

.btn-category  {
    margin-inline: 10px;
    width: 120px !important;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #DBDFD0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    height: 350px;
}

.menu-item .price {
    color: #AD343E;
    font-size: 24px;
    font-weight: 800;
}

.menu-item .name {
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.menu-item .desc {
    font-size: 14px;
    color: gray;
}

.img-border {
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem; 
    height: 200px;
    object-fit: cover;
    transition: 0.3s;
}

.img-border:hover {
    transform: scale(1.2);
}

.active-menu {
    background-color: #AD343E;
    color: white;
}

.layout-item {
    color: white;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.7)); */
}

.add-item:hover .layout-item{
    background: rgba(0, 0, 0, 0.8);
}

.add-item:hover .img-border{
    transform: scale(1.1);
}

.add-icon {
    transition: 0.3s;
    font-size: 20px;
}

.add-item:hover .add-icon {
    transform: scale(1.5);
}

.layout-btn {
    inset: 0;    
    background: rgba(0, 0, 0, 0.9);
    transform: translateY(100%);
    transition: 0.5s;
}

.menu-item:hover .layout-btn {
    transform: translateY(0);
}
/* ---------- Contact Us ---------- */

.contact {
    background: linear-gradient(to bottom, #f9f9f7 60%, #ffffff 40%);
}

.input-style {
    border-radius: 72px !important;
    border: 1px solid #DBDFD0 !important;
    padding: 12px !important;
    padding-inline: 15px !important;
}

.input-style:focus {
    outline: none;
    border-color: inherit;
    box-shadow: 0 0 5px #AD343E !important;
}

.container-contact {
    width: 50%;
    margin: auto;
    z-index: 5;
}

.drop-shadow {
    border-radius: 16px;
    box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.08);
    
}

.btn-contact {
    background-color: #AD343E;
    border-radius: 118px;
    border: none;
    color: white;
    padding-block: 10px;
}

/* ---------- Book A Table ---------- */

.book {
    height: 1100px;
}

.iframe {
    z-index: -99;
    width: 100%;
    height: 50%;
    bottom: 0;
}


/* ---------- User Profile ---------- */

.user-details span input {
    border: none;
}

.user-details span input:focus {
    outline: none;
}

.btn-cancle {
    right: 1px;
    border: none;
    border-right: 1px solid #0d6efd;
    transition: 0.3s;
    font-weight: 500;
}

.btn-cancle:hover {
    color: red;
}

/* ---------- Admin Panal ---------- */

.side-nav ul li {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.2s;
    border-radius: 10px;
}

.side-nav ul li:hover {
    background-color: #ADB29E;
    color: white;
    border-radius: 10px;
}

.br {
    border-bottom: 2px solid beige;
    padding-bottom: 20px;
}
