.bg-notfication {
  background-color: #f1f1f1;
}

.add-btn {
    background-color: #AD343E;
    color: white;
    padding: 3px 20px;
    border: 1px solid #AD343E;
    border-radius: 20px;
    font-size: 13px;
    transition: 0.5s;
}

.add-btn:hover {
    background-color: transparent;
    color: black;
}

.createdAt {
    font-size: 12px;
    color: gray;
    font-weight: 700;
    margin-bottom: 3px;
}

.quantity-input {
    width: 40px !important;
    border: none;
    outline: none;
    margin-left: 20px;
    text-align: center;
    border-bottom: 2px solid gray;
}

.price {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: serif;
    font-size: 16px;
}

.bg-price{
    background-color: #FFFFD9;
}

.discount {
    background-color: white !important;
    text-decoration: line-through;
    font-size: 13px;
} 

.wish-icon {
    font-size: 25px;
    color: #AD343E;
}

.quantity {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #AD343E;
    outline: none;
    height: auto;
    width: 23px;
}

.price-order {
    display: flex;
    justify-content: space-between;
}

.confirmed {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    color: green;
}

.user-information {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: auto;
  padding-block: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-inline: auto;
}

.image-profile {
  top: 0;
  transform: translateY(-65px);
}

.profile-details {
  width: 100%;
  transform: translateY(-30px);
}

.button-edit {
  background-color: #ffc107;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  width: 100px;
  height: 36px;
  border-radius: 10px;
  transition: 0.3s;
}

.button-edit:hover {
  background-color: #F9F9F7;
  color: #ffc107;
  cursor: pointer;
  border: solid 1px #ffc107;
}

.add-btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* about vedio */


.about-vedio {
  background-image: url(../src/assets/aboutVideo.png);
  background-size: cover; 
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-vedio {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: white;
  transition: 0.3s;
} 

.btn-vedio:hover {
  transform: scale(1.2);
}

.vedio-item {
  padding-block: 60px;
}

.vedio-header {
  font-size: 45px;
}

.vedio-item {
  display: flex;
}

.vedio-item .icon {
  font-size: 30px;
  margin-right: 15px;
  color: #AD343E;
  margin-top: -5px;
}

.vedio-text p:first-child {
  font-weight: bold;
}

.vedio-text p:nth-of-type(2) {
  font-size: 15px;
  color: gray;
}

/* notifcation */

.notfication-container {
  width: 400px;
  /* height: auto; */
  z-index: 500;
  background-color: white;
  margin-top: 39px;
  border-radius: 5px;
  right: -290px;
  max-height: 520px;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes shake {
  0% { transform: rotate(20deg); }
  20% { transform: rotate(-20deg); }
  40% { transform: rotate(20deg); }
  60% { transform: rotate(-20deg); }
  80% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}

.shaking {
  animation: shake 1s ease-in-out;
}

.shak:hover {
  animation: shake 1s ease-in-out;
}

.fw-700 {
  font-weight: 700;
}


.triangle {
  position: relative;
}

.triangle::after{
  content: "";
  position: absolute;
  bottom: -10px;
  border-width: 10px;
  border-style: solid;
  border-top: 0;
  margin-left: 4px;
  border-color: transparent transparent white transparent;
}

.upload-alert {
  bottom: -10px;
}



@media (max-width: 960px) { 
  .user-information {
      width: 70% !important;
  }
}

@media (max-width: 576px) {
  .user-information {
      width: 100% !important;
  }
}

.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #AD343E;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 1rem;
  scroll-behavior: smooth;
  transition: all 1s;
  color: white;
}

.wish-menu-icon {
  top: 10px;
  left: 10px;
  background-color: white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border: 1px solid #AD343E;
  /* padding: 8px 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: 600;
  width: 140px;
  padding-block: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.add-menu  i {
  color: #AD343E;
  padding-right: 10px;
}

.accept {
  background-color: #198754;
  border-color: #198754;
}

.deliverd {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.ship {
  background-color: #ffc107;
  border-color: #ffc107;
}

.search-icon {
  padding: 7px;
  right: 5px;
  top: 5px;
  color: black;
  } 

  .form-control:focus {
  border-color: #AD343E !important;
  box-shadow: 0 0 5px #AD343E !important;
}

.add-menu:hover {
  box-shadow: 0 0 10px #AD343E !important;
}

.time-input {
  width: 30px;
  outline: none;
  /* margin-top: 10px; */
  border: 2px solid;
  border-radius: 5px;
}

/* .test {
  background-color: red;
  height: 200px;
  width: 100%;
  position: relative;
}

.test::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: 0.5s;
}

.test:hover::after {
  transform: translateX(-50%);
} */



.loader {
    position: relative;
    width: 130px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#0277bd, #0277bd),
    linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
    background-size: 80px 70px, 30px 50px, 30px 30px;
    background-position: 0 0, 80px 20px, 100px 40px;
    margin-inline: auto;
  }
  .loader:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 12px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    box-sizing: content-box;
    border: 10px solid #000;
    box-shadow: 78px 0 0 -10px #fff, 78px 0 #000;
    animation: wheelSk 0.75s ease-in infinite alternate;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    height: 70px;
    width: 70px;
    background-image: linear-gradient(#fff 45px, transparent 0),
      linear-gradient(#fff 45px, transparent 0),
      linear-gradient(#fff 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px, 8px 35px, 0px 60px;
    animation: lineDropping 0.75s linear infinite;
  }
  
  @keyframes wheelSk {
    0%, 50%, 100% { transform: translatey(0) }
    30%, 90% { transform: translatey(-3px) }
  }
  
  @keyframes lineDropping {
    0% {
      background-position: 100px 11px, 115px 35px, 105px 60px;
      opacity: 1;
    }
    50% { background-position: 0px 11px, 20px 35px, 5px 60px }
    60% { background-position: -30px 11px, 0px 35px, -10px 60px }
    75%, 100% {
      background-position: -30px 11px, -30px 35px, -30px 60px;
      opacity: 0;
    }
  }



.stat {
  display: flex;
  align-items: center;
  justify-content: center;;
  width: 30px;
  background-color: #AD343E;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -7.5px;
}

.stat1 {
  left: -2px;
}
.stat2 {
  left: 20%;
}
.stat3 {
  left:70%

}
.stat::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;

}

.stat::before {
  position: absolute;
  width: 80px;
  height: auto;
  border-radius: 50%;
  top: -20px;
  left: -5px;
}

.stat1::before {
  content: "Created";
}

.stat2::before {
  content: "Accepted";
}

.stat3::before {
  content: "Shipped";
}

.progress {
  width: 100%; /* Ensure the parent div takes up full width */
  height: 20px; /* Set a height to make the progress bar visible */
  overflow: visible;
}